#mainContainer {
    opacity: 0;
    transition: opacity 2s linear;
    position: relative;
    border: 1px solid black;
    padding: 20px;
    border-radius: 15px;
}
#mainContainer::before {
    content:'';
    position: absolute;
    inset: 0;
    z-index: -3;
    background-color: rgb(22, 22, 22);
    opacity: .6;
    border-radius: 15px;
}

#contentOne {
    opacity: 0;
    transition: opacity 2s linear;
    /* border: 1px solid rgb(77, 4, 64); */
    box-shadow: -3px 3px 7px 2px rgb(66, 22, 70);
    padding: 10px;
    position: relative;
    border-radius: 15px;
    background-color: rgb(68, 68, 68);
}
#contentOne::before {
    content:'';
    position: absolute;
    inset: -1rem;
    z-index: -3;
    background-color: rgba(75, 29, 75, 0.356);
    opacity: .8;
    border-radius: 15px;
}